<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>485921219808-jhu92kdlaf9g2o538mtah39rijoc01kk.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.485921219808-jhu92kdlaf9g2o538mtah39rijoc01kk</string>
	<key>API_KEY</key>
	<string>AIzaSyCG1-LdoEKKMg3sgcI4bb0RCGQppwYq9C8</string>
	<key>GCM_SENDER_ID</key>
	<string>485921219808</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.readIt</string>
	<key>PROJECT_ID</key>
	<string>read-it-f5a4e</string>
	<key>STORAGE_BUCKET</key>
	<string>read-it-f5a4e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:485921219808:ios:a1612738917ba6a34f1c85</string>
</dict>
</plist>